<div class="col-md-12">
  <ol class="breadcrumb">
    <li><%= link_to 'Mobile Pay', merchant_bills_path %></li>
    <li class="active"><%= @bill.title %></li>
  </ol>
</div>
<div class="col-md-12">
  <%= render 'secondary_nav' %>
  <%= render 'shared/flash_messages' %>

  <%= render 'form' %>
</div>
